{% extends './base.njk' %}
{% block content %}
<main class="flex-grow">
  <div class="wrapper">
    <div class="p-20 text-center bg-white rounded shadow">
      {{ content | safe }}
    </div>
  </div>
</main>
{% endblock %}
