{% extends './base.njk' %}
{% block content %}
<main class="flex-grow">
  <div class="max-w-7xl mx-auto py-8 px-4 sm:px-6 lg:px-8 prose">
    <div class="p-20 text-center bg-white rounded shadow">
      {{ content | safe }}
    </div>
  </div>
</main>
{% endblock %}
