@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face{
    font-family: 'FucXedLatin';
    src: url(/fonts/FUCXEDCAPSLatin-Cyrillic.woff) format("woff"),
         url(/fonts/FUCXEDCAPSLatin-Cyrillic.woff2) format("woff2"),
         url(/fonts/FUCXEDCAPSLatin-Regular.otf) format("otf");
    font-display: swap;
  }
  @font-face{
    font-family: 'Crimson Text';
    src: url(/fonts/CrimsonText-Regular.woff) format("woff"),
         url(/fonts/CrimsonText-Regular.otf) format("otf");
    font-display: swap;
  }
  @font-face{
    font-family: 'Crimson Text';
    font-weight: 600;
    src: url(/fonts/Crimson-Semibold.woff) format("woff"),
         url(/fonts/Crimson-Semibold.otf) format("otf");
    font-display: swap;
  }
  @font-face{
    font-family: 'Crimson Text';
    font-weight: 700;
    src: url(/fonts/CrimsonText-Bold.woff) format("woff"),
         url(/fonts/CrimsonText-Bold.otf) format("otf");
    font-display: swap;
  }
  h1, h2, h3, h4, h5, h6 {
    font-family: 'FucXedLatin', sans-serif;
  }
  body {
    @apply font-crimson text-lg;
  }
  .wrapper {
    @apply max-w-7xl mx-auto py-8 px-4 sm:px-6 lg:px-8;
  }
  .divider {
    @apply border-opacity-10 my-10 w-1/2;
  }
  .btn {
    @apply group flex items-center text-sm font-medium px-4 py-2;
  }
  /* Navigation */
  .navigation-item {
    @apply p-3 text-base font-medium text-off-light transition;
  }
  .navigation-item-hover {
    @apply text-off-dark hover:text-off-light;
  }
  /* Footer */
  .disclaimer h3 {
    @apply mr-1;
  }
  .disclaimer h3,
  .disclaimer p {
    @apply inline;
  }

  a {
    text-decoration: underline;
  }

  /* Nav */
  nav a {
    font-family: 'FucXedLatin', sans-serif;
    text-decoration: none;
  }

  /* Main */
  main h2 {
    @apply text-7xl text-white mb-8;
  }

  main h3 {
    @apply text-2xl text-white;
  }

  main h4 {
    @apply text-lg text-white;
  }

  main h5 {
    @apply text-lg text-black;
  }

  main a {
    text-decoration: underline;
  }

  main button {
    @apply bg-black p-2.5 mt-8 text-white;
  }

  main button a {
    font-family: 'FucXedLatin', sans-serif;
    text-decoration: none;
  }

  main hr {
    @apply max-w-lg border-t border-b-0 border-gray-800 border-opacity-25 my-14;
  }

  /* Custom */
  .top-content {
    @apply max-w-2xl;
  }

  .top-content > h2:first-child {
    @apply mb-0;
  }

  .top-content p strong {
    @apply mt-5;
    display: block;
  }

  .bottom-content {
    @apply max-w-5xl;
  }

  /* Footer */
  .disclaimer h3 {
    @apply mr-1;
  }
  .disclaimer h3, .disclaimer p {
    @apply inline;
  }
}
@layer utilities {
  [x-cloak] {
    display: none !important;
  }
}
