@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face{
    font-family: 'FucXedLatin';
    src: url(/fonts/FUCXEDCAPSLatin-Cyrillic.woff) format("woff"),
         url(/fonts/FUCXEDCAPSLatin-Cyrillic.woff2) format("woff2"),
         url(/fonts/FUCXEDCAPSLatin-Regular.otf) format("otf");
    font-display: swap;
  }
  @font-face{
    font-family: 'Crimson Text';
    src: url(/fonts/CrimsonText-Regular.woff) format("woff"),
         url(/fonts/CrimsonText-Regular.otf) format("otf");
    font-display: swap;
  }
  @font-face{
    font-family: 'Crimson Text';
    font-weight: 600;
    src: url(/fonts/Crimson-Semibold.woff) format("woff"),
         url(/fonts/Crimson-Semibold.otf) format("otf");
    font-display: swap;
  }
  @font-face{
    font-family: 'Crimson Text';
    font-weight: 700;
    src: url(/fonts/CrimsonText-Bold.woff) format("woff"),
         url(/fonts/CrimsonText-Bold.otf) format("otf");
    font-display: swap;
  }
  h1, h2, h3, h4, h5, h6 {
    font-family: 'FucXedLatin', sans-serif;
  }
  body {
    font-family: 'Crimson Text', serif;
  }
  .btn {
    @apply group flex items-center text-sm font-medium px-4 py-2;
  }
}
@layer utilities {
  [x-cloak] {
    display: none !important;
  }
}
