@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face{
    font-family: 'FucXedLatin';
    src: url(/fonts/FUCXEDCAPSLatin-Cyrillic.woff) format("woff"),
         url(/fonts/FUCXEDCAPSLatin-Cyrillic.woff2) format("woff2"),
         url(/fonts/FUCXEDCAPSLatin-Regular.otf) format("otf");
    font-display: swap;
  }
  @font-face{
    font-family: 'Crimson Text';
    src: url(/fonts/CrimsonText-Regular.woff) format("woff"),
         url(/fonts/CrimsonText-Regular.otf) format("otf");
    font-display: swap;
  }
  @font-face{
    font-family: 'Crimson Text';
    font-weight: 600;
    src: url(/fonts/Crimson-Semibold.woff) format("woff"),
         url(/fonts/Crimson-Semibold.otf) format("otf");
    font-display: swap;
  }
  @font-face{
    font-family: 'Crimson Text';
    font-weight: 700;
    src: url(/fonts/CrimsonText-Bold.woff) format("woff"),
         url(/fonts/CrimsonText-Bold.otf) format("otf");
    font-display: swap;
  }
  h1, h2, h3, h4, h5, h6 {
    font-family: 'FucXedLatin', sans-serif;
  }
  body {
    @apply font-crimson text-lg;
  }
  .wrapper {
    @apply max-w-7xl mx-auto py-8 px-4 sm:px-6 lg:px-8;
  }
  .divider {
    @apply border-opacity-10 my-10 w-1/2;
  }
  .btn {
    @apply group flex items-center text-sm font-medium px-4 py-2;
  }
  /* Footer */
  .disclaimer h3 {
    @apply mr-1;
  }
  .disclaimer h3, p {
    @apply inline;
  }

  a {
    text-decoration: underline;
  }

  nav a {
    font-family: 'FucXedLatin', sans-serif;
    text-decoration: none;
  }  

  .content-block2 {
    margin-top: 1.5rem;
  }

  .content-block2 h1 {
    font-size: 4.5rem;
    line-height: 1;
    color: #FFF;
  }

  .content-block2 > div {
    margin-top: 30px;
  }

  .content-block2 h2 {
    color: #FFF;
  }

  .content-block2 .action-bt {
    font-family: 'FucXedLatin', sans-serif;
    color: #FFF;
    background-color: #000;
    padding: 10px;
    margin-top: 1.5rem;
  }

  .content-block2 .action-bt a {
    text-decoration: none;
  }

  .content-block2 hr {
    margin: 40px 0;
    border-top: 1px solid rgba(31,41,55, .25);
    max-width: 32rem;
  }

  .home-bt {
    font-family: 'FucXedLatin', sans-serif;
    color: #FFF;
    background-color: #000;
    padding: 10px;
    margin-top: 1.5rem;
  }

  .home-bt a {
    text-decoration: none;
  }

  .bt {
    font-family: 'FucXedLatin', sans-serif;
    color: #FFF;
  }
  
  .bt a {
    text-decoration: none;
  }
}
@layer utilities {
  [x-cloak] {
    display: none !important;
  }
}
